<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/newspaper-regular.svg" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <script
      src="https://kit.fontawesome.com/dcba98b74a.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="/img/newspaper-regular.svg" />

    <title>News | About</title>
  </head>
  <body>
    {{>header}}
    <img
      src="https://images.pexels.com/photos/4792729/pexels-photo-4792729.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt=""
    />
    <section class="text">
      <p>
        Hello guys, I am Rajkumar and love to create amazing web projects. If
        you have any suggestions or idea for my project just contact me.
      </p>
      <br />
      <p>
        If you want to work with me or if you need any help just feel free to
        contact me because I believe in "Growing as a Team" and I will very
        excited if have any idea to work with me.
      </p>
    </section>
  </body>
</html>