<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/contact.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <script
      src="https://kit.fontawesome.com/dcba98b74a.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="/img/newspaper-regular.svg" />

    <title>News | Contact</title>
  </head>
  <body>
    {{>header}}
    <img
      src="https://media.giphy.com/media/S5Kqe5mpXmz57Kz4QJ/giphy-downsized.gif"
      alt=""
    />
    <section class="text">
      <p>
        Instagram :
        <a href="https://www.instagram.com/raj_kumar_0_21/">raj_kumar_0_21</a>
      </p>
      <p>Email-Id : rajkumardongre17@gmail.com</p>
    </section>
  </body>
</html>