<header>
  <div class="logo">
    <i class="far fa-newspaper"></i>
    <p class="app-name"><a href="/">NEWS</a></p>
  </div>
  <nav>
    <ul>
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>